@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}

input, select, textarea {
  background: transparent;
  outline: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
